
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900');
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* reset */
#app {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1c1c1c;
    background-color: #fff;
    overflow-x: hidden;
    font-weight: 400;
}
