.el-card{
    .el-card__body{
        position: relative;
        height: auto;
        transition: height 0.5ms ease;
    }
    &.closed{
        .el-card__body{
            height: 0px;
            overflow: hidden;
            transition: height 0.5ms ease;
        }
    }
}