.dynamix{
    .el-card{
        .el-card__body{
            position: relative;
            max-height: 600px;
            transition: max-height 100ms ease-in;
        }
        &.closed{
            .el-card__body{
                max-height: 0;
                overflow: hidden;
            }
        }
        .el-card__header{
            h4{
                margin: 0px;
                line-height: 34px;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}

.dynamix{
    .el-dialog__wrapper {
        top: 32px;
        left: 35px;
        z-index: 999999;
        .el-dialog{
            margin: 0 auto;
            .el-dialog__header{
                padding: 10px;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
                position: relative;
                z-index: 2;
                .el-dialog__headerbtn{
                    top: 12px;
                    right: 12px;
                }
            }
        }
        &.img-editor{
            .el-dialog{
                height: calc(100vh - 45px);
                .el-dialog__body{
                    height: calc(100% - 45px);
                    padding: 0;
                    >.el-container{
                        height: 100%;
                        .el-header{
                            background-color: #f7f7f7;
                        }
                        .el-aside{
                            .el-menu{
                                height: 100%;
                                max-height: 100%;
                                overflow: auto;
                            }
                        }
                        .el-main{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .swiper-container{
        .swiper-pagination{
            position: absolute;
            left: 50%!important;
            z-index: 2;
            bottom: 15px!important;
            border-radius: 15px;
            padding: 5px;
            width: auto!important;
            background-color: rgba(0, 0, 0, 0.75);
            transform: translateX(-50%);
            text-align: center;
            .swiper-pagination-bullet {
                position: relative;
                display: block;
                opacity: 1 !important;
                float: left;
                margin: 3px !important;
                width: 8px;
                height: 8px;
                border-radius: 50% !important;
                box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
                transition: box-shadow 0.3s ease;
                background: #fff;
                &:before {
                    content: '';
                    top: 0px;
                    left: 0px;
                    width: calc(100%);
                    height: calc(100%);
                    outline: none;
                    background-color: #fff;
                    text-indent: -999em;
                    border-radius: 50% !important;
                    cursor: pointer;
                    position: absolute;
                }
                &.swiper-pagination-bullet-active:before {
                    transform: scale(0.6);
                    background-color: #000;
                }
            }
        }
        nav{
            a{
                position: absolute;
                top: 50%;
                display: block;
                outline: none;
                text-align: left;
                z-index: 1000;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.65);
                transition: all 0.15s ease;
                padding: 25px 10px;
                color: white;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.95);
                    padding: 25px 15px; 
                }
                &.prev{
                    left: 0;
                }
                &.next{
                    right: 0;
                }
                &.swiper-button-disabled{
                    opacity: 0.2;
                    cursor: no-drop;
                }
            }
        }
    }
}
.dynamix{
    .image-editor-wrap{
        .tui-image-editor-canvas-container{
            margin: auto;
        }
    }
}