@import "./layout.scss";
@import "~bootstrap/scss/bootstrap";
@import '~element-ui/lib/theme-chalk/index.css';
@import '../fonts/font-awesome.css';
@import '../fonts/et-line-font.css';
@import '../fonts/feather-icons.css';
@import '../fonts/pages-icons.css';
@import '~swiper/dist/css/swiper.min.css';